@use "./" as *;

* {
  @include reset();
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    rgb(82, 78, 78) 5%,
    rgb(82, 68, 63) 10%,
    rgb(61, 48, 44) 65%
  );
  @include grid-item-align(center, center);
}

.grid-container {
  @include grid-item-align(false, false);
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1.8vmin;
}

.box {
  @include grid-item-align(center, center);
  @include vmin(9vmin);
  font-size: 5vmin;
  box-shadow: rgb(46, 43, 26) 0vmin 1.8vmin 0.5vmin -0.9vmin;
  border-radius: 2.7vmin;
  border-bottom: 1vmin outset rgb(204, 184, 147);
}

.white {
  background-color: $primary-light;
}

.black {
  background-color: $secondary-light;
}

.white-piece,
.black-piece {
  color: $primary-dark;
}

.d8 {
  z-index: 1;
}
