@use "./" as *;

* {
  @include reset();
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(
    rgb(82, 78, 78) 5%,
    rgb(82, 68, 63) 10%,
    rgb(61, 48, 44) 65%
  );
  @include grid-item-align(center, center);
}

.grid-container {
  @include grid-item-align(false, false);
  grid-template-columns: repeat(8, 5em);
  grid-template-rows: repeat(8, 5em);
  gap: 0.6em;
}

.box {
  @include grid-item-align(center, center);
  font-size: 2.8rem;
  box-shadow: rgb(46, 43, 26) 0px 5px;
  border-radius: 25px;
  border-bottom: 0.4rem outset rgb(204, 184, 147);
}

.white {
  background-color: $primary-light;
}

.black {
  background-color: $secondary-light;
}

.white-piece,
.black-piece {
  color: $primary-dark;
}

@media screen and (max-width: 800px) {
  @include screen-800();
}

@media screen and (max-width: 620px) {
  @include screen-620();
}

@media screen and (max-width: 540px) {
  @include screen-540();
}

@media screen and (max-width: 460px) {
  @include screen-460();
}

@media screen and (max-width: 350px) {
  @include screen-350();
}
