@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin grid-item-align($justify-items: false, $align-items: false) {
  display: grid;
  @if $justify-items {
    justify-items: $justify-items;
  }
  @if $align-items {
    align-items: $align-items;
  }
}

@mixin vmin($height-width) {
  width: $height-width;
  height: $height-width;
  max-width: $height-width;
  min-width: $height-width;
  max-height: $height-width;
  max-width: $height-width;
}
