.box {
  animation-name: breathe;
  animation-duration: 0.89s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes breathe {
  0% {
    transform: perspective(200px) translateZ(1px);
  }

  100% {
    transform: perspective(200px) translateZ(0.3em);
  }
}
